@media screen and (max-width:1415px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 210px;
    }

    .descricao{
        width: 80%;
    }

    header nav a{
        font-size: 14px;
    }
}